.navbar-brand img {
    height: 40px;
    /* Ajusta la altura del logo según sea necesario */
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

body,
html {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
}

footer {
    flex-shrink: 0;
}